@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-center;
    @apply md:text-left;
  }

  h1 {
    @apply text-4xl;
    @apply md:text-5xl;
    @apply my-8;
  }

  h2 {
    @apply text-lg;
    @apply md:text-xl;
    @apply font-mono;
    @apply border-b-[1px];
    @apply pb-4;
    @apply border-b-slate-50;
    @apply md:pb-2;
    @apply md:mb-0;
    @apply md:border-b-0;
  }

  a {
    @apply font-light;
    @apply hover:underline;
  }

  i {
    @apply not-italic;
    @apply invisible;
    @apply before:content-none;
    @apply md:visible;
    @apply md:before:content-["\00a0"];
  }

  section {
    @apply bg-black/20;
    @apply backdrop-blur-sm;
    @apply backdrop-brightness-200;
    @apply px-6;
    @apply py-4;
    @apply my-8;
    @apply rounded-lg;
    @apply text-center;
    @apply md:text-left;
  }

  ul {
    @apply md:list-disc;
    @apply pl-0;
    @apply md:pl-4;
  }

  li {
    @apply pt-4;
    @apply pl-0;
    @apply md:pl-2;
  }

  span {
    @apply text-sm;
    @apply block;
    @apply md:text-xl;
    @apply md:inline;
  }
}

/* SOURCE CODE PRO */
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"),
    url("/fonts/SourceCodePro/SourceCodePro-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"),
    url("/fonts/SourceCodePro/SourceCodePro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"),
    url("/fonts/SourceCodePro/SourceCodePro-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"),
    url("/fonts/SourceCodePro/SourceCodePro-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ROBOTO */
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
