---
import { Icon } from "astro-icon/components"
---

<button id="themeToggle" class="flex relative w-xl h-xl">
  <Icon 
    name="sun" 
    class="m-auto h-xl fill-ivory invisible dark:visible absolute top-0"
  />
  <Icon 
    name="moon" 
    class="m-auto h-xl fill-shark-950 dark:invisible absolute top-0" 
  />
</button>