---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import I from "@components/I.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
dayjs.extend(relativeTime);

const posts = await getCollection("blog")
---
<ContentLayout title="Posts">
  <header>
    <h1>Posts</h1>
  </header>
  <section>
   Definitely not boring. 
  </section>
  <section>
    {posts 
      .sort((a, b) => dayjs(a.data.date).isBefore(dayjs(b.data.date)) ? 1 : -1)
      .map((p) => (
      <div class="flex gap-sm pb-md sm:pb-0">
        <a 
          class="hover:underline focus:underline visited:text-purple-600" 
          href={"/posts/" + p.slug}
        >
          {p.data.title.trim()}
        </a>
        <I>{dayjs(p.data.date).toNow(true)} ago</I>
      </div>
    ))} 
  </section>
</ContentLayout>