---
import { getCollection } from "astro:content";
import RootLayout from "@layouts/RootLayout.astro";

const posts = await getCollection("blog")
---
<RootLayout title="Posts">
  <h1>Posts</h1>
  {posts.map((p) => (
    <p>
      <a href={"/posts/" + p.slug}>{p.data.title}</a>
    </p>
  ))} 
</RootLayout>