---
import RootLayout from "@layouts/RootLayout.astro"
import { getEntry } from 'astro:content';

const manifesto = await getEntry("about", "manifesto")
const { Content: ManifestoContent } = await manifesto.render();
---
<RootLayout title="About">
<main>
  <h1>About me...</h1>
  <ManifestoContent/>
</main>
</RootLayout>