---
import Socials from "@components/Socials.astro";
import Title from "@components/Title.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import { getEntry } from "astro:content";

const bio = await getEntry("about", "bio");
if (!bio) {
  throw new Error("Bio content not found");
}
const { Content: BioContent } = await bio.render();

const manifesto = await getEntry("about", "manifesto");
if (!manifesto) {
  throw new Error("Manifesto content not found");
}
const { Content: ManifestoContent } = await manifesto.render();
---

<ContentLayout
  title="About"
  description="About Lucas Barbosa"
  url="/about"
  type="profile"
>
  <section>
    <Title>About Me</Title>
  </section>
  <Socials />
  <section class="blog-content mb-3xl content">
    <BioContent />
  </section>
  <!-- <section>
    <ManifestoContent />
  </section> -->
</ContentLayout>
