---
import Socials from "@components/Socials.astro"
import ContentLayout from "@layouts/ContentLayout.astro";
import { getEntry } from 'astro:content';

const bio = await getEntry("about", "bio")
const { Content: BioContent } = await bio.render();

const manifesto = await getEntry("about", "manifesto")
const { Content: ManifestoContent } = await manifesto.render();
---

<ContentLayout title="About">
  <header>
    <h1>About me...</h1>
  </header>
  <section>
    <BioContent />
  </section>
  <Socials />
  <!-- <section>
    <ManifestoContent />
  </section> -->
</ContentLayout>