---
import RootLayout from '@layouts/RootLayout.astro';
import Particles from '@components/Particles/Particles.astro';
---
<Particles/>
<RootLayout title="Lucas Barbosa">
	<div class="splash flex">
		<div class="text-center text-6xl lg:text-8xl uppercase font-black m-auto">
			<p>Lucas</p>
			<p>Barbosa</p>
		</div>
	</div>
</RootLayout>

<style>
	.splash {
		min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
		/* mobile viewport bug fix */
  	min-height: -webkit-fill-available;
		display: flex;
		align-items: center; 
		justify-content: center; 
		overflow: hidden; 
	}
</style>

