---
import RootLayout from '@layouts/RootLayout.astro';
import Card from '@components/Card.astro';
import Particles from '@components/Particles.astro';
import Glass from '@components/Glass.astro';
---
<Particles/>
<RootLayout title="Lucas Barbosa">
<div class="h-screen flex">
		<div class="text-center text-4xl sm:text-6xl lg:text-8xl uppercase font-black m-auto">
			<p>Lucas</p>
			<p>Barbosa</p>
		</div>
</div>
</RootLayout>

