---
import RootLayout from '@layouts/RootLayout.astro';
import Card from '@components/Card.astro';
import Particles from '@components/Particles.astro';
import {Test} from "@components/Solid"
---
<Particles/>
<RootLayout title="Starseeker Blog">
	<main>
		<h1>Lucas</h1>
		<Test client:load/>
	</main>
</RootLayout>

