---
import RootLayout from '@layouts/RootLayout.astro';
import Particles from '@components/Particles/Particles.astro';
---
<RootLayout title="Lucas Barbosa">
	<div class="splash flex items-center justify-center overflow-hidden">
		<div class="text-center italic text-5xl sm:text-6xl lg:text-8xl uppercase font-black m-auto">
			<div>Scale</div>
			<div>Abstraction</div>
			<div>Curiosity</div>
		</div>
	</div>
</RootLayout>
<Particles/>

<style>
	.splash {
		min-height: 100vh; 
	}

	@supports (min-height: 100dvh) {
    .splash {
      min-height: 100dvh;
    }
  }
</style>

