---
import RootLayout from '@layouts/RootLayout.astro';
import Particles from '@components/Particles/Particles.astro';
---
<Particles/>
<RootLayout title="Lucas Barbosa">
	<div class="h-screen flex">
		<div class="text-center text-4xl sm:text-6xl lg:text-8xl uppercase font-black m-auto">
			<p>Lucas</p>
			<p>Barbosa</p>
		</div>
	</div>
</RootLayout>

