---
import Socials from "@components/Socials.astro";
import MobiusStrip from "@components/MobiusStrip/MobiusStrip.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import Image from "@components/Image.astro";
import { getEntry } from "astro:content";
import profileImage from "../assets/images/profile.webp";

const bioIntro = await getEntry("about", "bio-intro");
if (!bioIntro) {
  throw new Error("Bio intro content not found");
}
const { Content: BioIntroContent } = await bioIntro.render();

const musings = await getEntry("about", "musings");
if (!musings) {
  throw new Error("Musings content not found");
}
const { Content: MusingsContent } = await musings.render();

const publications = await getEntry("about", "publications");
if (!publications) {
  throw new Error("Publications content not found");
}
const { Content: PublicationsContent } = await publications.render();

const courseWork = await getEntry("about", "course-work");
if (!courseWork) {
  throw new Error("Course work content not found");
}
const { Content: CourseWorkContent } = await courseWork.render();
---

<ContentLayout
  title="Lucas Barbosa"
  ogTitle="Lucas Barbosa - Software, AI, and Life"
  ogDescription="Thoughtful essays on software engineering, AI, startups, and personal growth. Explore ideas, practical lessons, and experiments."
  url="/"
  type="profile"
>
  <div class="mt-md mb-xl w-32 sm:w-38 md:w-44">
    <Image
      src={profileImage}
      alt="Portrait photo"
      width={176}
      height={176}
      class="!my-0 w-full"
      thumbhash="5b180e1704cf97679d97876887c7678667769740460a6404"
      loading="eager"
      fetchpriority="high"
      quality={70}
    />
  </div>
  <section class="blog-content content mb-xl">
    <BioIntroContent />
  </section>
  <!-- <section class="blog-content content mb-xl">
    <MusingsContent />
  </section> -->
  <section class="blog-content content mb-xl">
    <h2>Publications</h2>
    <PublicationsContent />
  </section>
  <section class="blog-content content mb-xl">
    <CourseWorkContent />
  </section>
  <section class="mb-3xl">
    <Socials />
  </section>
  <MobiusStrip slot="background" />
</ContentLayout>
