---
import RootLayout from "@layouts/RootLayout.astro";
---

<RootLayout title="Lucas Barbosa">
  <div
    class="splash flex items-center justify-center overflow-hidden min-h-dvh"
  >
    <div
      class="text-center italic text-5xl sm:text-6xl lg:text-8xl uppercase m-auto font-serif font-black"
    >
      <div>Scale</div>
      <div>Curiosity</div>
      <div>Abstraction</div>
    </div>
  </div>
</RootLayout>
