---
import ContentLayout from "@layouts/ContentLayout.astro";
---

<ContentLayout title="Lab">
  <section class="blog-content content mb-xl">
    <h1>Lab</h1>
    <p>Placeholder page. Real content coming soon.</p>
  </section>
</ContentLayout>
