---
import ContentLayout from "@layouts/ContentLayout.astro";
import { getEntry, render } from "astro:content";

const musings = await getEntry("about", "musings");
if (!musings) {
  throw new Error("Musings content not found");
}
const { Content: MusingsContent } = await render(musings);
---

<ContentLayout title="Musings">
  <section class="blog-content content mb-xl">
    <MusingsContent />
  </section>
</ContentLayout>
