---
import ContentLayout from "@layouts/ContentLayout.astro";
import { getEntry, render } from "astro:content";

const questionsPage = await getEntry("questions", "index");
if (!questionsPage) {
  throw new Error("Questions content not found");
}
const { Content: QuestionsContent } = await render(questionsPage);
---

<ContentLayout title="Questions">
  <section class="blog-content content mb-xl">
    <h1>Questions</h1>
    <QuestionsContent />
  </section>
</ContentLayout>
