<footer class="mt-[33vh] text-center pb-md font-mono">
  <!-- <div class="pb-md">[Blank Reading Space]</div> -->
  <hr />
  <div class="flex flex-row justify-between items-center">
    <span>Escape velocity</span>
    <span>maybelucas {new Date().getFullYear()}</span>
  </div>
</footer>
