---
import NavLink from "@components/NavLink.astro";
---

<nav class="flex gap-md">
  <NavLink href="/" label="Home" />
  <NavLink href="/posts" label="Blog" />
  <NavLink href="/about" label="About" />
</nav>