---
import NavLink from "@components/NavLink.astro";
import NavWithBackButton from "@components/NavWithBackButton.tsx";

const path = Astro.url.pathname;
const isPostPage =
  path.startsWith("/posts/") && path !== "/posts" && path !== "/posts/";
---

{
  isPostPage ? (
    <NavWithBackButton client:load />
  ) : (
    <nav class="flex gap-md items-center">
      <NavLink href="/" label="Home" />
      <NavLink href="/posts" label="Posts" />
      <div class="hidden md:block">
        <NavLink href="https://vla.lbxa.net" label="VLA-RLX" />
      </div>
      <NavLink href="/about" label="About" />
    </nav>
  )
}
