---
import { Icon } from "astro-icon/components";

const { href, label } = Astro.props;
const path = Astro.url.pathname;
const isActive = path === href || path.startsWith(href + "/");
const isExternal = href.startsWith("http") || href.startsWith("https");
---

<a
  href={href}
  target={isExternal ? "_blank" : undefined}
  class={`font-mono no-underline inline-flex items-center ${isActive ? "text-blue-700 dark:text-blue-300 transition-colors duration-200" : ""} ${isExternal ? "link-icon" : ""}`}
>
  {"["}
  <span>{label}</span>
  {"]"}
</a>
