---
import { Icon } from "astro-icon/components";

const { href, label } = Astro.props;
const path = Astro.url.pathname;
const isActive = path === href || path.startsWith(href + "/");
const isExternal = href.startsWith("http") || href.startsWith("https");
---

<a
  href={href}
  target={isExternal ? "_blank" : undefined}
  class={`font-mono no-underline inline-flex items-center gap-1 ${isActive ? "text-blue-700 dark:text-blue-300 transition-colors duration-200" : ""}`}
>
  {"["}
  <span>{label}</span>
  {
    isExternal && (
      <Icon
        name="external-link"
        class="h-3 w-3 inline-block ml-1 fill-current"
      />
    )
  }
  {"]"}
</a>
