---
import { Icon } from "astro-icon/components";
---

<section class="flex gap-md mb-xl">
  <a
    class="flex gap-sm text-[var(--tetris-t)]"
    href="https://github.com/lbxa"
    target="_blank"
  >
    <Icon name="github" class="h-xl" />
  </a>
  <a
    class="flex gap-sm text-[var(--tetris-i)]"
    href="https://linkedin.com/in/lucasbrsa/"
    target="_blank"
  >
    <Icon name="linkedin" class="h-xl" />
  </a>
  <a
    class="flex gap-sm text-[var(--tetris-o)]"
    href="https://x.com/lucasbrsa"
    target="_blank"
  >
    <Icon name="x" class="h-xl" />
  </a>
  <a
    class="flex gap-sm text-[var(--tetris-s)]"
    href="mailto:me@lucasbarbosa.net"
    target="_blank"
  >
    <Icon name="mail" class="h-xl" />
  </a>
  <!-- <a
    class="flex gap-sm text-[var(--tetris-l)]"
    href="/files/resume.pdf"
    target="_blank"
  >
    <Icon name="file" class="h-xl" />
  </a> -->
</section>
