---
import { Icon } from "astro-icon/components";
---

<section class="flex gap-md my-2xl">
  <a class="flex gap-sm" href="https://github.com/lbxa" target="_blank">
    <Icon name="github" class="h-xl dark:fill-ivory fill-shark-950" />
    <!-- <span>Github</span> -->
  </a>
  <a
    class="flex gap-sm"
    href="https://linkedin.com/in/lucasbrsa/"
    target="_blank"
  >
    <Icon name="linkedin" class="h-xl dark:fill-ivory fill-shark-950" />
    <!-- <span>LinkedIn</span> -->
  </a>
  <a class="flex gap-sm" href="/files/resume.pdf" download="Lucas Barbosa.pdf">
    <Icon name="file" class="h-xl dark:fill-ivory fill-shark-950" />
    <!-- <span>Resume</span> -->
  </a>
</section>
