<canvas id="webgl"></canvas>
<div 
  class="z-50 fixed flex w-3/4 max-w-[300px] bg-ivory/50 dark:bg-shark-950/50 
          backdrop-blur-sm py-md px-lg rounded-xl bottom-xl left-1/2 transform 
          -translate-x-1/2 -translate-y-1/2"
>
  <input 
    class="m-auto w-full h-full"
    type="range" 
    id="particleDensity" 
    name="volume" 
    min="10" 
    max="100000" 
    value="1000"
  />
</div>
<script src="./mobius-swarm.ts"></script>
<style>
canvas#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none; /* This is crucial */
  mix-blend-mode: exclusion;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

/* Animation class for shaking */
.animate-shake {
  animation: shake 0.3s ease-in-out;
}

</style>