---
import Footer from "@components/Footer.astro";
import RootLayout from "@layouts/RootLayout.astro";

const { title } = Astro.props;
---
<RootLayout title={title}>
  <main class="flex flex-col mx-auto px-lg lg:px-0 max-w-screen-md">
    <article class="grow">
      <slot />
    </article>
    <Footer /> 
  </main>
</RootLayout>

<style>
	main {
    min-height: 100vh;
		padding-top: calc(50px + 10px);
	}

  @supports (min-height: 100dvh) {
    main {
      min-height: 100dvh;
    }
  }
</style>
