---
import Footer from "@components/Footer.astro";
import RootLayout from "@layouts/RootLayout.astro";

const { title } = Astro.props;
---

<RootLayout title={title} showSlider={false}>
  <div
    class="fixed inset-0 backdrop-blur-md bg-ivory/60 dark:bg-shark-950/60 z-10"
  >
  </div>

  <main
    class="flex flex-col mx-auto px-lg lg:px-0 max-w-screen-sm min-h-dvh pt-[60px] relative z-10"
  >
    <article class="grow">
      <slot />
    </article>
    <Footer />
  </main>
</RootLayout>
